In [65]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [66]:
# Read the csv file into pandas Dataframe
credit_data_df = pd.read_csv('Resources/credit_data_cleaned.csv')
credit_data_df.head()

,Unnamed: 0,month,age,occupation,annual_income,num_bank_accounts,num_credit_card,interest_rate,num_of_loan,type_of_loan,...,credit_mix,outstanding_debt,credit_utilization_ratio,payment_of_min_amount,total_emi_per_month,amount_invested_monthly,payment_behaviour,monthly_balance,credit_score,credit_history_age_new
0,0,January,23,Scientist,19114.12,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,None,809.98,26.822620,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good,22.083333333333332
1,1,February,23,Scientist,19114.12,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.944960,No,49.574949,118.280222,Low_spent_Large_value_payments,284.629162,Good,None
2,3,April,23,Scientist,19114.12,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.377862,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good,22.333333333333332
3,4,May,23,Scientist,19114.12,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,24.797347,No,49.574949,41.420153,High_spent_Medium_value_payments,341.489231,Good,22.416666666666668
4,5,June,23,Scientist,19114.12,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,27.262259,No,49.574949,62.430172,Other,340.479212,Good,22.5

In [67]:
# credit_data_10 = pd.get_dummies(credit_data_9,prefix = ['credit_score'],columns=['credit_score'])
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

for i in credit_data_df.columns:
    if (credit_data_df[i].dtypes == 'object'):
        credit_data_df[i] = le.fit_transform(credit_data_df[i])

In [68]:
credit_data_df["credit_score"].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
90672    False
90673    False
90674    False
90675    False
90676    False
Name: credit_score, Length: 90677, dtype: bool

In [69]:
# assign data to x and y

X_df=credit_data_df.drop(columns=["credit_score","changed_credit_limit"])
X = X_df

# X = credit_data_df[["month","age","occupation","annual_income","num_bank_accounts","num_credit_card","interest_rate",
# "num_of_loan","type_of_loan","delay_from_due_date","num_of_delayed_payment","outstanding_debt","credit_utilization_ratio",
# ,"total_emi_per_month","amount_invested_monthly","monthly_balance"]]

# changed_credit_limit breaks the model

y = credit_data_df["credit_score"].values.reshape(-1,1)
print(X.shape, y.shape)

(90677, 22) (90677, 1)

In [70]:
# create training and testing data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.25,random_state=42)

In [71]:
# create model using linear regression
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [72]:
#fit the model to the training data & calculate training and testing data scores

model.fit(X_train, y_train)
training_score = model.score(X_train, y_train)
testing_score = model.score(X_test, y_test)

print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.12933294045750032
Testing Score: 0.12684683756179205