In [148]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [149]:
# Read the csv file into pandas Dataframe
credit_data_df = pd.read_csv('Resources/credit_data_cleaned.csv')
credit_data_df.head()

,Unnamed: 0,month,age,occupation,annual_income,num_bank_accounts,num_credit_card,interest_rate,num_of_loan,type_of_loan,...,credit_mix,outstanding_debt,credit_utilization_ratio,payment_of_min_amount,total_emi_per_month,amount_invested_monthly,payment_behaviour,monthly_balance,credit_score,credit_history_age_new
0,0,January,23,Scientist,19114.12,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,None,809.98,26.822620,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good,22.083333333333332
1,1,February,23,Scientist,19114.12,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.944960,No,49.574949,118.280222,Low_spent_Large_value_payments,284.629162,Good,None
2,3,April,23,Scientist,19114.12,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.377862,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good,22.333333333333332
3,4,May,23,Scientist,19114.12,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,24.797347,No,49.574949,41.420153,High_spent_Medium_value_payments,341.489231,Good,22.416666666666668
4,5,June,23,Scientist,19114.12,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,27.262259,No,49.574949,62.430172,Other,340.479212,Good,22.5

In [150]:
credit_data_df.nunique()

Unnamed: 0                  90677
month                           8
age                            42
occupation                     16
annual_income               13301
num_bank_accounts              14
num_credit_card                11
interest_rate                  34
num_of_loan                   379
type_of_loan                 6197
delay_from_due_date            73
num_of_delayed_payment        644
changed_credit_limit         4328
num_credit_inquiries         1154
credit_mix                      4
outstanding_debt            12113
credit_utilization_ratio    90677
payment_of_min_amount           3
total_emi_per_month         14548
amount_invested_monthly     82570
payment_behaviour               7
monthly_balance             88052
credit_score                    3
credit_history_age_new        405
dtype: int64

In [151]:
credit_data_df.monthly_balance = credit_data_df.monthly_balance.astype(float)

In [152]:
# credit_data_10 = pd.get_dummies(credit_data_9,prefix = ['credit_score'],columns=['credit_score'])
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

for i in credit_data_df.columns:
    if (credit_data_df[i].dtypes == 'object'):
        credit_data_df[i] = le.fit_transform(credit_data_df[i])

In [153]:
credit_data_df.head()

,Unnamed: 0,month,age,occupation,annual_income,num_bank_accounts,num_credit_card,interest_rate,num_of_loan,type_of_loan,...,credit_mix,outstanding_debt,credit_utilization_ratio,payment_of_min_amount,total_emi_per_month,amount_invested_monthly,payment_behaviour,monthly_balance,credit_score,credit_history_age_new
0,0,3,23,13,19114.12,3,4,3,4,127,...,2,809.98,26.822620,1,49.574949,80.415295,2,312.494089,0,180
1,1,2,23,13,19114.12,3,4,3,4,127,...,1,809.98,31.944960,1,49.574949,118.280222,3,284.629162,0,404
2,3,0,23,13,19114.12,3,4,3,4,127,...,1,809.98,31.377862,1,49.574949,199.458074,5,223.451310,0,183
3,4,7,23,13,19114.12,3,4,3,4,127,...,1,809.98,24.797347,1,49.574949,41.420153,1,341.489231,0,184
4,5,5,23,13,19114.12,3,4,3,4,127,...,1,809.98,27.262259,1,49.574949,62.430172,6,340.479212,0,185

In [154]:
credit_data_df2 = credit_data_df[["credit_mix", "interest_rate", "num_credit_inquiries","credit_utilization_ratio","credit_score"]]
credit_data_df2.head()

,credit_mix,interest_rate,num_credit_inquiries,credit_utilization_ratio,credit_score
0,2,3,4.0,26.822620,0
1,1,3,4.0,31.944960,0
2,1,3,4.0,31.377862,0
3,1,3,4.0,24.797347,0
4,1,3,4.0,27.262259,0

In [155]:
# create training and testing data
from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.25,random_state=42)
# X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.25)
trainM, testM = train_test_split(credit_data_df, test_size=0.3)
# trainM, testM = train_test_split(credit_data_df2, test_size=0.3)

In [156]:
train_y = trainM[["credit_score"]]
train_x = trainM.drop(["credit_score","changed_credit_limit"], axis=1) 

test_y = testM[["credit_score"]]
test_x = testM.drop(["credit_score","changed_credit_limit"], axis=1)

In [157]:
# train_x = trainM[["credit_mix", "interest_rate", "num_credit_inquiries","credit_utilization_ratio"]]

In [158]:
# scale data
from sklearn.preprocessing import RobustScaler

ro_scaler = RobustScaler()
train_x = ro_scaler.fit_transform(train_x)
test_x = ro_scaler.fit_transform(test_x)

In [159]:
#fit the model to the training data & calculate training and testing data scores
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
lr = LogisticRegression(C = 100)
lr.fit(train_x , train_y)

training_score = lr.score(train_x , train_y)
testing_score = lr.score(test_x , test_y)

print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

Training Score: 0.6175224111039339
Testing Score: 0.6159755918247316

In [160]:
predictions = lr.predict(test_x)
print(f"Predictions: {predictions}")

Predictions: [0 0 2 ... 2 2 2]

In [167]:
# KNN MODEL
from sklearn.neighbors import KNeighborsClassifier

In [168]:
knn = KNeighborsClassifier(n_neighbors=13)

In [169]:
knn.fit(train_x , train_y)

KNeighborsClassifier(n_neighbors=13)

In [170]:
knn.score(train_x , train_y)

0.721314574701054

In [171]:
knn.score(test_x , test_y)

0.66997500367593

In [ ]:
# KNN test plot

In [161]:
# RANDOM FOREST
from sklearn.ensemble import RandomForestClassifier

In [162]:
rf = RandomForestClassifier(max_features=5 ,    max_depth=4)

In [163]:
rf.fit(train_x , train_y)

RandomForestClassifier(max_depth=4, max_features=5)

In [164]:
rf.score(train_x ,train_y)

0.6481653616498354

In [165]:
rf.score(test_x , test_y)

0.651558594324364

In [166]:
sorted(zip(rf.feature_importances_,credit_data_df.columns),reverse=True)

[(0.28410197765265327, 'credit_mix'),
 (0.1608308525212231, 'interest_rate'),
 (0.15466877392803588, 'num_credit_inquiries'),
 (0.0800221527373412, 'credit_utilization_ratio'),
 (0.07695100523359485, 'changed_credit_limit'),
 (0.07380515522535548, 'delay_from_due_date'),
 (0.06693742930539126, 'num_credit_card'),
 (0.04186763369711247, 'num_bank_accounts'),
 (0.024270424329261988, 'num_of_loan'),
 (0.020442616664996242, 'num_of_delayed_payment'),
 (0.00423880756547474, 'monthly_balance'),
 (0.0037822739716456585, 'annual_income'),
 (0.002603391437710493, 'payment_behaviour'),
 (0.0020116774307664203, 'payment_of_min_amount'),
 (0.0012032242910636909, 'age'),
 (0.0007278338439156276, 'type_of_loan'),
 (0.0005789236440018499, 'month'),
 (0.00030584277058560055, 'amount_invested_monthly'),
 (0.00029849447354047507, 'Unnamed: 0'),
 (0.00019488230501479807, 'total_emi_per_month'),
 (9.899342968848555e-05, 'occupation'),
 (5.763354162623674e-05, 'outstanding_debt')]